<div class="container" ng-controller="homeControllers">
    {{dh}}
    <input ng-model="as"/>
    <div>{{as}}</div>

   <!-- <div map-lazy-load="http://maps.google.com/maps/api/js"
         map-lazy-load-params="{{googleMapsUrl}}">
        <map center="41,-87" zoom="3"></map>
    </div>-->
Abcd


<button class="btn btn-danger">ccxc</button>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-3">dsads</div>
            <div class="col-md-3">sdkjkj</div>
            <div class="col-md-3">cjkx xj</div>
            <div class="col-md-3">zbnzx</div>
            </div>
        </div>

    </div>
</div>